
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}