/* BUTTONS STYLES */

.btn {
    border: none;
    cursor: pointer;
}

/* COLORS */

.btn--primary {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    transition: background 0.2s ease-in-out;
}

.btn--primary:hover {
    background-color: var(--secondary-solid);
}

/* SIZES */

.btn--medium {
    padding: var(--spacing-8) var(--spacing-16);
}

.btn--large {
    padding: var(--spacing-12) var(--spacing-28);
}