#admin {
    margin: var(--spacing-68) auto;
}
.admin__search {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-36);
}

.admin__icon {
    font-size: var(--font-xlarge);
}

.admin__search-bar {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-8);
    border: 2px solid var(--dark-solid);
    border-radius: 6px;
    outline: none;
    flex: 0 0 35%;
}

.admin__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-24);
}

.admin__header h2 {
    font-size: var(--font-jumbo) ;
}

.admin__header span {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
    font-size: var(--font-large);
    font-weight: 700;
}

.admin__header span a {
    display: flex;
    font-size: var(--font-medium);
}

.admin-table {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.admin-table__header,
.admin-table__row {
    display: grid;
    grid-template-columns: 40px 1fr 3fr 3fr 40px 40px;
    align-items: center;
    gap: var(--spacing-16);
    font-size: var(--font-medium);
    font-weight: 500;
}

.admin-table__header {
    margin-bottom: var(--spacing-24);
}

