#register {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.register__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
}

.register__title {
    font-size: var(--font-jumbo);
}

.register__subtitle {
    font-size: var(--font-large);
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

#register .form__terms {
    font-size: var(--font-small);
}
