:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}