<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= view.title %></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="page-header"> <!-- Inicio Header -->
        <nav class="navbar container">
            <picture class="nabvar__logo">
                <a href="/">
                    <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="/shop">SHOP<iconify-icon icon="tabler:chevron-down" style="color: white;"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">LLaveros</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="navbar__link" href="/contact">CONTACTO</a>
                </li class="navbar__item">
                <li>
                    <a class="navbar__link" href="/admin/login">LOGIN</a>
                </li class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__cart" href="/cart">
                        <img src="/img/icons/cart-icon.svg" alt="ícono de carrito">
                    </a>
                </li>
            </ul>
        </nav>
    </header> <!--   Fin Header -->