/* HEADER */

.page-header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nabvar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-icon iconify-icon svg {
    color: var(--light-bg-solid);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}