#edit {
    margin: var(--spacing-68) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.edit__title {
    font-size: var(--font-jumbo);
}

.edit__form {
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.edit__img {
    max-width: 150px;
    padding-bottom: var(--spacing-8);
}

.edit__img-side {
    font-size: var(--font-small);
    text-align: center;
    padding-top: var(--spacing-8);
    border-top: 2px solid var(--primary-solid);
    font-weight: 600;
}
